
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        form {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 1px solid;
            border-radius: 5px;
            padding: 8px;
            display: inline-block;
        }
        

        h1 {
            font-family: Arial, sans-serif;
            margin: 10;
            padding: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            max-width: 400px;
            background-color: white;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .form-row {
            margin-bottom: 10px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"], [type="reset"]{
            float: right;
            margin-left: 5px;
            background-color: #fd402f;
            border: 1px solid #fd402f;
            border-radius: 3px;
            padding: 10px 15px;
            font-weight: bold;
            color: white; 
        }
        
        input[type="submit"]:hover, [type="reset"]:hover{
            border: 1px solid #fd402f;
            background-color: white;
            color: #fd402f;
        }